@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
    <div class="page-title">
        <h3>Hava Tahmin Anasayfası / Son Tahmin : @Model.LastTempatureResults.Last().PublishDateTime</h3>
    </div>
</div>

<div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
        <div class="row widget-statistic">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="widget widget-one_hybrid widget-followers">
                    <div class="widget-heading">
                        <div class="w-icon">
                            <img src="https://cdn-icons-png.flaticon.com/512/481/481431.png" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" alt="Celsius">
                        </div>
                        <p class="w-value">@Model.Tempature.Last().DataValue / @Model.LastTempatureResults.Last().PredictedDataValue </p>
                        <h5 class="">Sıcaklık/Tahmini Sıcaklık-C°</h5>
                    </div>
                    <div class="widget-content">
                        <div class="w-chart">
                            <div id="hybrid_followers"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="widget widget-one_hybrid widget-followers">
                    <div class="widget-heading">
                        <div class="w-icon">
                            <img src="https://cdn-icons-png.flaticon.com/512/728/728093.png" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" class="loaded" stroke="currentColor" alt="Humidity">
                        </div>
                        <p class="w-value">@Model.Humidity.Last().DataValue / @Model.LastHumidityResults.Last().PredictedDataValue</p>
                        <h5 class="">Nem/Tahmini Nem - %</h5>
                    </div>
                    <div class="widget-content">
                        <div class="w-chart">
                            <div id="hybrid_followers"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="widget widget-one_hybrid widget-referral">
                    <div class="widget-heading">
                        <div class="w-icon">
                            <img src="https://cdn-icons-png.flaticon.com/512/958/958528.png" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" class="loaded" stroke="currentColor" alt="CarbonMonoxide">
                        </div>
                        <p class="w-value">@Model.CO2.Last().DataValue /@Model.LastCO2Results.ElementAt(0).PredictedDataValue</p>
                        <h5 class="">CO/Tahmini CO-PPM</h5>
                        <h5 class="">Normal Değer</h5>
                    </div>
                    <div class="widget-content">
                        <div class="w-chart">
                            <div id="hybrid_followers1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="widget widget-one_hybrid widget-engagement">
                    <div class="widget-heading">
                        <div class="w-icon">
                            <img src="https://cdn-icons-png.flaticon.com/512/2756/2756521.png" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" class="loaded" stroke="currentColor" alt="AirQuality">
                        </div>
                        <p class="w-value">@Model.AirQuality.Last().DataValue /@Model.LastAirQualityResults.Last().PredictedDataValue</p>
                        <h5 class="">Hava Kalitesi / Tahmini Hava Kalitesi-PPM</h5>
                        <h5 class="">Normal Değer</h5>
                    </div>
                    <div class="widget-content">
                        <div class="w-chart">
                            <div id="hybrid_followers3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="widget widget-one_hybrid widget-engagement">
                    <div class="widget-heading">
                        <div class="w-icon">
                            <img src="https://cdn-icons.flaticon.com/png/512/2955/premium/2955074.png?token=exp=1641807928~hmac=d967a6fc9832a942275bb1c9876f982f" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" class="loaded" stroke="currentColor" alt="AirQuality">
                        </div>
                        <p class="w-value">@Model.BurningGas.Last().DataValue /@Model.LastBurningGasResults.Last().PredictedDataValue</p>
                        <h5 class="">Yanıcı Gaz/Tahmini Yanıcı Gaz -PPM</h5>
                    </div>
                    <div class="widget-content">
                        <div class="w-chart">
                            <div id="hybrid_followers3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-chart-three">
            <div class="widget-heading">
                <div class="">
                    <h5 class="">Sıcaklık</h5>
                </div>
            </div>
            <div class="widget-content">
                <div id="uniqueVisits"></div>
            </div>
        </div>
    </div>

    <div id="chartArea" class="col-xl-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Hava Kalitesi</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div id="s-line-area" class="">

                </div>
            </div>
        </div>
    </div>

    <div id="chartMixed" class="col-xl-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Nem</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div id="mixed-chart" class="">

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-chart-three">
            <div class="widget-heading">
                <div class="">
                    <h5 class="">Co2</h5>
                </div>
            </div>
            <div class="widget-content">
                <div id="Co2"></div>
            </div>
        </div>
    </div>

    <div id="chartArea" class="col-xl-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Yanıcı Gaz</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div id="YaniciGaz" class="">

                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
        <div class="widget widget-card-one">
            <div class="widget-content">
                <div class="media">
                    <div class="w-img">
                        <img src="~/assets/img/Berk.jpg" alt="avatar">
                    </div>
                    <div class="media-body">
                        <h6>Berk Garip</h6>
                        <p class="meta-date-time">Perşembe, 23 Aralık</p>
                    </div>
                </div>
                <p>
                    Veriler İstanbul/Başakşehirde bulunan Living Lab içerisinden, sensörler aracılığıyla ölçülmektedir. Verilerimiz arduino sensörleriyle ölçülüp,
                    veri tabanına kaydedildikten sonra ise açık erişime sahip bir api ile pyhton'a yollanmaktadır. Pyhton ise aldığı bu verileri makine öğrenmesiyle
                    birleştirerek bir tahminde bulunur ve api vasıtası ile bu bilgileri veri tabanına kaydeder.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
        <div class="widget widget-card-one">
            <div class="widget-content">
                <div class="media">
                    <div class="w-img">
                        <img src="~/assets/img/Berk.jpg" alt="avatar">
                    </div>
                    <div class="media-body">
                        <h6>Berk Garip</h6>
                        <p class="meta-date-time">Çarşamba, 29 Aralık</p>
                    </div>
                </div>
                <p>
                    AtmosphericGases-WithAiPredictions projesi yapılırken; Arduino, Windows Communication Foundation, API, Pyhton Ai, .Net Core 5.0, Code-First yaklaşımı ve katmanlı mimariden
                    yararlanılmıştır. İlgili kod bloklarını, proje mimarisini görmek için Github reposuna tıklayabilirsiniz.
                </p>
                <div style="text-align:center;" class="textColor">
                    <a href="onclick.href'https://github.com/berkgrp/AtmosphericGases-WithAiPredictions'"><strong>Github Reposu</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>